<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Battery</title>
</head>
<body>

<footer class="text-body-secondary py-5" th:fragment="footer">
    <div class="container">
        <p class="float-end mb-1">
            <a href="#">Back to top</a>
        </p>
        <p class="mb-1">&copy; 2026 Battery &bull; A SQL database load testing tool</p>
        <p class="mb-0"><a href="https://github.com/kai-niemi/battery">Visit the homepage</a>.</p>
    </div>
</footer>

</body>
</html>